@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.containerLogin{
    margin-top: 5%;
    background-color: gold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(124, 109, 109, 0.575);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 612px;
}
@media (max-width:800px) {
    .containerLogin{
        margin-top: 40%;
    }
}
.containerLogin p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    color: black;
}
.containerLogin span{
    font-size: 12px;
    color: #000000;
}
.containerLogin a{
    color: rgb(255, 0, 0);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containerLogin button{
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.containerLogin button.hidden{
    background-color: transparent;
    border-color: #fff;
}
.containerLogin form{
    background-color: rgb(255, 217, 0);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.containerLogin input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.containerLogin.active .sign-in{
    transform: translateX(100%);
}
.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.containerLogin.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}
.social-icons{
    margin: 20px 0;
}
.social-icons a{
    border: 1px solid #ffffff;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.toggle-containerLogin{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}
.containerLogin.active .toggle-containerLogin{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}
.toggle{
    background-color: #000000;
    height: 100%;
    background: linear-gradient(to right, gold, rgb(39, 24, 24));
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.containerLogin.active .toggle{
    transform: translateX(50%);
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    transform: translateX(-200%);
}
.containerLogin.active .toggle-left{
    transform: translateX(0);
}
.toggle-right{
    right: 0;
    transform: translateX(0);
}
.containerLogin.active .toggle-right{
    transform: translateX(200%);
}

.card {
    border-radius: 20px;
    background-color: #ffffff00;
    color: white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: solid 1px white;
}
.profile-img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}


.name {
    text-align: center;
    margin-bottom: 15px;
    color: rgb(173, 173, 250);
    font-weight: bold;
    font-size: 20px;
}

.intro {
    color: #add0df;
    padding: 5%;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.6;
    border-left: solid 2px rgb(48, 36, 36);

}

.email-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}

.email-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3; /* Increase the z-index to ensure the email button appears above other elements */
}

.email-button a:hover {
    color: #ffcc00;
}

.email-button:hover{
    border:solid 1px #ffcc00;
    border-radius: 16px;
}


.email-button a{
    color: white;
    font-size: 18px;
}

.kebab-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 3; /* Ensure the kebab menu appears above other elements */
}

.links {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2; /* Ensure the links appear above other elements except the email button */
}

.link-container {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
}

.links.show-links .link-container {
    height: auto;
}

.link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background-color: #312c2c;
    border-radius: 5px;
    margin-bottom: 5px;
}

.link i {
    margin-right: 5px;
}

.link:hover {
    background-color: #808080;
}

/* New CSS for changing color on hover for GitHub and website links */
.link.hoverColor:hover {
    color: rgb(255, 194, 82) ;
    background-color: #000000;
}

.contact-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2; /* Ensure the contact icons appear above other elements */
}

.contact-icons a {
    color: white;
    font-size: 24px;
    padding-left: 5px;
}

.contact-icons a:hover {
    color: #ffcc00;
}
